@import "sidebar.css";
.header{
    -fx-background-color: #d81e05; 
    -fx-font-family: "Open Sans";
    -fx-font-size: 12px;
    -fx-font: "Roboto";
    -fx-font-weight: BOLD ;
}  
.navigationBar{
    -fx-background-color: #dddddd; 
    -fx-font-family: "Open Sans";
    -fx-font-size: 12px;
    -fx-font: "Roboto";
    -fx-font-weight: BOLD ;
}

.footer{
    -fx-background-color: #d81e05; 
    -fx-font-family: "Open Sans";
    -fx-font-size: 6px;
    -fx-font-weight: BOLD ;
    -fx-font-style: normal;   
    -fx-text-fill: white;
}

#redHbox{
    -fx-background-color: #d81e05; 
    -fx-border-radius: 5px;
}

#greyPane {
    -fx-background-color: #c9c9c9;
}